<div id="timer">
<div id="clock">00:00:00.00</div>&nbsp;&nbsp;

<div id="div_form">

<form name="clockform">
 Метка: 
 <input name="label" size="12" maxlength="40" value="label 1">
 <input name="starter" type="button" value="START/STOP" onclick="findTIME()"> 
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <input name="clearer" type="button" value="RESET ALL" onclick="clearALL()">
</form>

</div>
<div id="marker">

</div>
