/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');

body{
	line-height: 1;
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	font-family: Arial bold;
	background-color: #4DE1C3;

	font-size: 17px;
}

input {
	width: 500px;
	font-size: 30px;
	color: white;
	padding: 6px 0 4px 10px;
	border: none;
	background: #5EAE9E;
}

#timer{
	width: auto;
	height: auto;
}
#timer #clock{
	padding: 10px;
	display: inline-block;
	width: 160px;
	height: 47px;
	font-size: 25px;
	color: white;
}
#timer #div_form{
	position: absolute;
	right: 100px;
	display: inline-block;
	width: 710px;
	height: 47px;
}
.tl{
	font-size: 20px;
	padding: 15px;
	width: 70%;
	height: 25px;
	background: #6FEBD2;
	
	border-bottom: 2px solid #5EAE9E;
	cursor: pointer;
	color: white;
}

button {
	cursor: pointer;
	font-size: 28px;
	color: white;
	border: 3px solid;
	border-color: #5EAE9E;
	background: #4DE1C3;
	padding: 5px 0 1px 0px;
	width: 190px;

}
button:hover {
	background: #5EAE9E;
}

#toolbar{
	background: #5BCBB5;
	padding: 10px;
	height: 50px;
	border-bottom: none;
	border-color: #5EAE9E;
}

#list_timers{
	padding: 40px;
}

#deletet{
	display: inline-block;
	background: red;
	width: 100px;
	height: auto;
}

#deleteButton{
	position: absolute;
	right: 30%;
	color: white;
	text-decoration: none;
}